In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
from time import process_time
from uszipcode import SearchEngine
import json
import folium
from folium.plugins import HeatMapWithTime
from uszipcode import SearchEngine
import json
search = SearchEngine(simple_zipcode=True)

In [20]:
drivers = pd.read_csv('C:/Machine Learning/TNP_Drivers.csv',low_memory=False)

In [19]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5793303 entries, 0 to 5793302
Data columns (total 7 columns):
MONTH_REPORTED        object
DRIVER_START_MONTH    object
CITY                  object
STATE                 object
ZIP                   object
NUMBER_OF_TRIPS       float64
MULTIPLE_TNPS         bool
dtypes: bool(1), float64(1), object(5)
memory usage: 270.7+ MB

In [8]:
drivers.isna().sum()

MONTH_REPORTED              0
DRIVER_START_MONTH        314
CITY                  1288139
STATE                     463
ZIP                   1288139
NUMBER_OF_TRIPS          3083
MULTIPLE_TNPS               0
dtype: int64

In [24]:
drivers = pd.read_csv('C:/Machine Learning/TNP_Drivers.csv',low_memory=False)

tic = process_time()

drivers = drivers.dropna(subset=['DRIVER_START_MONTH','ZIP'])

drivers=drivers[drivers['NUMBER_OF_TRIPS']!=0]
drivers['NUMBER_OF_TRIPS'] = drivers['NUMBER_OF_TRIPS'].fillna(1500)


drivers = drivers.reset_index(drop=True)
drivers['ZIP'] = drivers['ZIP'].apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0)
drivers['ZIP']=drivers['ZIP'].astype(int)
drivers = drivers.loc[ (drivers['ZIP']>59999)&(drivers['ZIP']<=69999)]
drivers['Rep_Month']= pd.to_datetime(drivers['MONTH_REPORTED'], format='%Y-%m')
drivers['Start_Month']= pd.to_datetime(drivers['DRIVER_START_MONTH'], format='%Y-%m')
drivers = drivers.drop(columns=['MONTH_REPORTED','DRIVER_START_MONTH'])
drivers['Days_Driving'] = pd.to_datetime(drivers['Rep_Month']).dt.date - pd.to_datetime(drivers['Start_Month']).dt.date
drivers['Months_Driving'] = ((drivers['Days_Driving'].dt.days)/30).astype(int)
drivers['Days_Driving'] = drivers['Days_Driving'].dt.days
drivers['Start_Year']= drivers['Start_Month'].dt.year
drivers['Rep_Year']= drivers['Rep_Month'].dt.year
drivers['Years_Driving'] = drivers['Rep_Year']-drivers['Start_Year']

#drivers = drivers[drivers['Years_Driving']>=0]
#drivers = drivers[drivers['Months_Driving']>=0]
drivers= drivers.reset_index(drop=True)
toc = process_time()
print('Process Time for Data Cleaning = ', (toc-tic)/60, 'mins')
drivers.info()

Process Time for Data Cleaning =  1.3208333333333333 mins
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2659973 entries, 0 to 2659972
Data columns (total 12 columns):
CITY               object
STATE              object
ZIP                int32
NUMBER_OF_TRIPS    float64
MULTIPLE_TNPS      bool
Rep_Month          datetime64[ns]
Start_Month        datetime64[ns]
Days_Driving       int64
Months_Driving     int32
Start_Year         int64
Rep_Year           int64
Years_Driving      int64
dtypes: bool(1), datetime64[ns](2), float64(1), int32(2), int64(4), object(2)
memory usage: 205.5+ MB

In [25]:
(drivers['NUMBER_OF_TRIPS']).groupby(drivers['ZIP']).agg(['mean']).sort_values(['mean'], ascending=False).head(5)

             mean
ZIP
63017  715.068182
64649  579.470588
61781  540.076923
67856  484.000000
66607  440.800000

In [ ]:
40.0, -87.8

In [26]:

lat =[]
lng = []
for i in range(0,len(drivers)):
    zip_info = search.by_zipcode(drivers['ZIP'][i])
    lat.append(json.loads(zip_info.to_json())['lat'])
    lng.append(json.loads(zip_info.to_json())['lng'])
    if ((i%250000)==0):
        print ('Processed', i, 'rows')
drivers['Latitude'] = lat
drivers['Longitude'] = lng
drivers = drivers.dropna(subset=['Latitude', 'Longitude'])


drivers = drivers.reset_index()

def haversine_np(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    distance = 3958.8 * c
    return distance

drivers['Distance'] = haversine_np( -87.6298,41.8781,drivers['Longitude'],drivers['Latitude'])
drivers.to_csv('drivers.csv',index=False, sep='\t')
#drivers=drivers.loc[drivers['Distance']<100]

Processed 0 rows
Processed 250000 rows
Processed 500000 rows
Processed 750000 rows
Processed 1000000 rows
Processed 1250000 rows
Processed 1500000 rows
Processed 1750000 rows
Processed 2000000 rows
Processed 2250000 rows
Processed 2500000 rows

In [7]:
(drivers['Trips']).groupby(drivers['Start_Month']).agg(['count']).sort_values(['count'], ascending=False).head(5)

             count
Start_Month
2017-08-01   70265
2017-06-01   69794
2017-05-01   67001
2016-03-01   66450
2017-07-01   64300

In [79]:
drivers_prep = pd.read_csv('drivers.csv', low_memory=False,sep='\t')
drivers_prep=drivers_prep.loc[drivers_prep['Distance']<25]
drivers_prep =drivers_prep.loc[drivers_prep['Start_Year']>2012]
drivers_prep['Months_Driving'] = drivers_prep['Months_Driving'] + 1
drivers_prep['Trips_per_Month']  = drivers_prep['NUMBER_OF_TRIPS'] /drivers_prep['Months_Driving'] 
drivers_prep["Years_Driving"] = drivers_prep["Months_Driving"]/12
#drivers_prep=drivers_prep.loc[drivers_prep['Years_Driving']<=1]
drivers_prep['Trips_per_Year']  = drivers_prep['NUMBER_OF_TRIPS'] /drivers_prep['Years_Driving']

In [83]:
drivers_prep.head()

,index,CITY,STATE,ZIP,NUMBER_OF_TRIPS,MULTIPLE_TNPS,Rep_Month,Start_Month,Days_Driving,Months_Driving,Start_Year,Rep_Year,Years_Driving,Latitude,Longitude,Distance,Trips_per_Month,Trips_per_Year
0,0,Chicago,IL,60612,391.0,True,2018-01-01,2017-02-01,334,12,2017,2018,1.000000,41.880,-87.690,4.159468,32.583333,391.0
1,1,Dolton,IL,60419,371.0,True,2018-01-01,2015-03-01,1037,35,2015,2018,2.916667,41.630,-87.600,2.179082,10.600000,127.2
2,2,Eilmette,IL,60091,251.0,False,2017-09-01,2017-07-01,62,3,2017,2017,0.250000,42.080,-87.730,6.946212,83.666667,1004.0
3,3,Chicago,IL,60606,332.0,False,2018-06-01,2018-02-01,120,5,2018,2018,0.416667,41.882,-87.637,0.497602,66.400000,796.8
4,4,Berwyn,IL,60402,247.0,False,2018-06-01,2018-02-01,120,5,2018,2018,0.416667,41.830,-87.780,10.378785,49.400000,592.8

In [131]:
drivers_prep1 = drivers_prep.loc[drivers_prep['Rep_Year']-drivers_prep['Start_Year']<=2]

In [133]:
drivers_prep.groupby(['Start_Year'])['NUMBER_OF_TRIPS'].agg(['mean','count']).sort_values(['mean'])

                  mean   count
Start_Year
2019        121.201395  173381
2018        133.526389  476043
2016        134.425773  516042
2017        136.857739  581215
2015        136.926201  355210
2013        147.189247    5115
2014        169.176052   82288

In [113]:
zip_summary=drivers_prep.groupby(['ZIP','Start_Year'])['NUMBER_OF_TRIPS'].agg(['count']).sort_values(['count'], ascending=False)
zip_summary['Sum_Trips'] = drivers_prep.groupby(['ZIP','Start_Year'])['NUMBER_OF_TRIPS'].agg(['sum']).sort_values(['sum'])
zip_summary['Avg_Months_Driving'] = drivers_prep.groupby(['ZIP','Start_Year'])['Months_Driving'].agg(['mean']).sort_values(['mean'])
zip_summary['Avg_Trips_PM'] = zip_summary['Sum_Trips']/(zip_summary['count']*zip_summary['Avg_Months_Driving'])
zip_summary.sort_values(by=['Avg_Trips_PM'], ascending=False)

                  count  Sum_Trips  Avg_Months_Driving  Avg_Trips_PM
ZIP   Start_Year
60964 2019           12     2407.0            2.916667     68.771429
60660 2019         2088   406220.0            3.180556     61.168499
60640 2019         2650   475720.0            3.152830     56.938360
60659 2019         3593   642078.0            3.193710     55.954510
60645 2019         3143   564690.0            3.244671     55.372622
60611 2019          201    36310.0            3.308458     54.601504
61841 2016            7     1034.0            2.714286     54.421053
60301 2019           29     4098.0            2.655172     53.220779
60203 2019           82    14263.0            3.280488     53.022305
60616 2019         2525   401248.0            3.070495     51.753902
60043 2019           19     2482.0            2.526316     51.708333
60626 2019         2783   469175.0            3.297161     51.130667
60613 2019         1178   186490.0            3.167233     49.983919
60641 2019         3319   518581.0            3.137391     49.801306
60712 2019          391    57388.0            3.033248     48.387858
60605 2019          357    53732.0            3.145658     47.846839
60601 2019          166    24299.0            3.078313     47.551859
60615 2019         1556   216186.0            2.924807     47.502966
60608 2019         2655   389149.0            3.110358     47.123880
61832 2019           13     1821.0            3.000000     46.692308
60076 2019         1519   218880.0            3.142199     45.857951
60618 2019         2689   389668.0            3.202306     45.252352
60637 2019         2079   274389.0            2.924002     45.137194
60625 2019         3019   430162.0            3.162968     45.047858
60649 2019         2920   396449.0            3.027740     44.842099
60654 2019          165    23532.0            3.187879     44.737643
60617 2019         3111   411678.0            2.984892     44.333190
60609 2019         1859   243735.0            2.980097     43.995487
60653 2019         1904   247979.0            2.985294     43.627551
60619 2019         3567   468890.0            3.020746     43.516473
...                 ...        ...                 ...           ...
60922 2018           32      333.0            7.593750      1.370370
60634 2013           76     4026.0           39.473684      1.342000
60022 2013            1       31.0           24.000000      1.291667
60643 2013            1       31.0           24.000000      1.291667
60622 2013           29     1224.0           33.275862      1.268394
60487 2013            2       59.0           23.500000      1.255319
60623 2013           10      369.0           31.900000      1.156740
60449 2014           11      465.0           41.909091      1.008677
60056 2013           26     1333.0           51.153846      1.002256
60428 2013           34     1576.0           46.735294      0.991819
60088 2013            1       27.0           28.000000      0.964286
60607 2013           29     1163.0           46.896552      0.855147
60644 2013           13      395.0           36.923077      0.822917
60654 2013           19      975.0           62.684211      0.818640
60007 2013           36     1419.0           50.888889      0.774563
60044 2014           26      257.0           13.038462      0.758112
60425 2013           10      309.0           44.200000      0.699095
60642 2013            9      320.0           54.888889      0.647773
60438 2013            1       14.0           23.000000      0.608696
60970 2019            1        4.0            7.000000      0.571429
60048 2014            2       10.0           12.500000      0.400000
60093 2013            3       28.0           27.000000      0.345679
60126 2013            1        6.0           19.000000      0.315789
60521 2013            1        6.0           24.000000      0.250000
60463 2014            3       10.0           17.666667      0.188679
60069 2013            1        5.0           29.000000      0.172414
60085 2013            1        4.0           25.000000      0.160000
60950 2014            3        3.0           13.000000      0.076923
60480 2013            1        1.0           24.000000      0.041667
60061 2013            1        1.0           45.000000      0.022222

[1322 rows x 4 columns]

In [82]:
a=(drivers_prep['NUMBER_OF_TRIPS']).groupby(drivers_prep['ZIP']).agg(['count']).sort_values(['count'], ascending=False)

b = (drivers_prep['NUMBER_OF_TRIPS']).groupby(drivers_prep['ZIP']).agg(['sum']).sort_values(['sum'], ascending=False)
c = (drivers_prep['Months_Driving']).groupby(drivers_prep['ZIP']).agg(['mean']).sort_values(['mean'], ascending=False)

d=a.join(b.join(c))
d['Avg Trips'] = d['sum']/(d['count']*d['mean'])
d.sort_values(by=['count'], ascending=False).head(10)

       count         sum       mean  Avg Trips
ZIP
60606  61363   8716838.0   7.859036  18.075201
60659  58403  11682890.0  11.911854  16.793290
60645  52830  10173638.0  11.897823  16.185576
60625  49963   8165271.0  11.489782  14.223625
60639  48602   7066209.0  10.155199  14.316732
60641  46872   7307718.0  10.542115  14.789060
60618  43339   6607983.0  11.286786  13.508893
60620  41037   5132346.0   8.531740  14.658945
60619  40785   5234878.0   8.623023  14.884921
60629  40311   5100453.0   8.992012  14.071108